<section class="race-detail">
  <div class="race-detail_row">
    <h1>{{race?.nombre}}</h1>
    <img src="assets/img/races/{{race?.url}}.png" />
  </div>

  <div class="race-detail_list">
    <div *ngFor="let rider of race?.corredores" class="race-detail_list-item">
      <strong>{{rider.nombre}}</strong>
      <small>{{rider.equipo}}</small>
    </div>

    <app-button label="Volver" (handleAction)="goBack()"></app-button>
  </div>

  <!-- <form [formGroup]="form" novalidate>
    <input [(ngModel)]="race.comments" matInput formControlName="comments" />
  </form> -->
</section>

