section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  row-gap: 40px;

  h1 {
    font-size: 50px;
    font-weight: 700;
    border-bottom: solid 1px #3333;
    padding-bottom: 50px;
  }
}